.header{
height: 55px;
display: flex;
flex-direction: row;
justify-content: space-between;
column-gap: 30px;
position: fixed;
top: 0;
left: 0;
right: 0;
height: 50px;
background-color: white;
z-index: 1;
}
.middle-section{
    display:flex;
    align-items: center;
    flex: 0.5;
    margin-left: 50px;
}
.left-section{
    display: flex;
    align-items: center;
    flex: -1;
}
.right-section{
    display: flex;
    align-items: center;
    flex: 0.2;
    justify-content: space-between;
    margin-right: 30px;
    flex-shrink: 0;
}
.notifications-symbol{
    position: relative;
}
.notifications-ting{
    position:absolute;
    text-align: center;
    font-size: 10px;
    width: 10px;
    right:0;
    top: 0;
    z-index: 0;
    background-color: red;
    color: white;
    border-radius: 20px
}
