.sidebar{
    position: fixed;
    width: 100px;
    top: 60px;
    left: 0;
    bottom: 10px;
}
.btn{
    width: 24px;
    height: 74px;
    /*Điều hướng lưới flex theo hàng ngang(row) hay cột dọc(column)*/
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    cursor: pointer;
}
